*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}   
body{
	width: 100%;
	height: 100%;

}
html{
	width: 100%;
	height: 100%;
}
ul{
  margin: 0;padding: 0;
}
ul li{
  list-style-type: none;
}
section{
  padding: 80px 0;
}
.main-header{
  text-align: center;
  margin-bottom: 25px;padding: 0 150px;color: #3e3f3f
}
.main-header h1{
  color: #8b941a;margin-bottom: 0;
}
.bottom-line{
    border-bottom: 2px solid rgb(139, 148, 26);
    display: inline-block;
    width: 200px;
    height: 2px;
    padding-bottom: 10px;position: relative;
    margin-bottom: 10px;
}
.bottom-line::before{
  content: "";
  position: absolute;
  background: url("img/triangle.png") no-repeat scroll 0% 0%;
  left: 50%;
  width: 21px;
  height: 21px;
  top: 1px;

}
.text-green{
  color: #8b941a;
}
.text-white{
  color: #fff;
}
.read-more{
  background: #8B941A none repeat scroll 0% 0%;
  padding: 10px 15px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}
.navbar{
}
header{
  position: relative;
}
.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 165px 0;
    text-align: center;
    background: url(img/bg-img.jpg) no-repeat top center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro::before{
    background: #8B941A;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";opacity: 0.6;text-indent: 9999;-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
.intro .intro-body .intro-text {
    font-size: 25px;
    font-weight: 500;
    font-family: "Roboto",sans-serif;
    color: #FFF;
    padding: 50px 0;
    text-transform: capitalize;
}
.intro-text h1{
  margin: 0;font-size: 45px;text-transform: uppercase;
}
.intro-text h2{
  margin-top: 65px;font-size: 40px;margin-bottom: 0;text-transform: uppercase;
}
.intro-text h3{
  font-size: 20px;padding-bottom: 7px;margin: 0
}
.slider img{
	width: 100%;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: auto;
    display: table;
    background-position: top center;
    background-attachment: scroll;

}
.overlay-templt{
  background: url("img/bg-two.jpg") no-repeat center center / cover transparent;
    position: absolute;left: 0;top:0;width: 100%;height: 100%; 
    -webkit-filter: blur(5px);
  filter: blur(5px);
}
.template-area{
  position: relative;

}
.overlay-templt::after{
  content: "";
    /* style */
   
    position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #8b941a;opacity: 0.5;
}
.template-para{
  padding: 0px 100px;
  color: #fff;
}
a.buy-btn{
  background: #fff;
  color: #8B941A;
  border: 3px;
  padding: 8px 10px;
  display: inline-block;
  margin-top: 5px;
}
.service-area{
  background: #f7f7f7
}
.service-icon a{
  color: #8B941A;
  border: 1px solid #8B941A;
  padding: 7px 9px;
  border-radius: 6px;
  width: 35px;
  height: 35px;
  text-align: center;
}
.service-icon a:hover{
  background: #8B941A;
  color: #fff;
}
.about-container .img-wrap,.team-img .img-wrap{
  position: relative;overflow: hidden;
}
.about-container .img-wrap img, .team-img .img-wrap img{
  height: auto;margin: 0;padding: 0;display: block;max-width: 100%;
}
.img-overlay, .team-overlay{
  position: absolute;z-index: 20;background: rgba(139, 148, 26, 0.7);overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;height: 0;display: block;
}
.img-overlay{
  left: 0;right: 0;top: 0;
}
.team-overlay{
  left: 0;right: 0;bottom: 0;
}

.team-overlay ul li{
  text-align: right;
  display: block;
  margin: 25px;
}
a.expand{
  display: block;
  position: absolute;
  z-index: 100;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #8B941A;
  font-size: 18px;
  line-height: 40px;
  left: 0;
  right: 0;
  top: 50%;background: #fff;border-radius: 50px;
  margin: 0 auto -30px auto;
}
a.circle-btn{
  width: 30px;
  height: 30px;
  background: rgb(139, 148, 26) none repeat scroll 0% 0%;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-radius: 50px;
  z-index: 20;
  border:2px solid #fff;
  background: #8B941A
}
a.circle-btn:hover{
  background: rgb(139, 148, 26);
  color: #fff;
}

.about-container .img-wrap:hover .img-overlay, .team-img .img-wrap:hover .team-overlay{
  height: 100%;
}
.media{
  margin-bottom: 25px;
}
.choose-container{
  padding: 25px 0;
}
.portfolio-list{
  text-align: center;
  margin-top: 50px;
}
.portfolio-list li{
    border: 1px solid #8B941A;
    color: #8B941A;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 13px;
    margin: 0 2px;
    border-radius: 2px;
    cursor: pointer;
}
.portfolio-list li.active{
  background: #8B941A;
  color: #fff;
}
.portfolio-list .mix{
  display: none;
}
.single-portfolio{
  margin-bottom: 15px;
  margin-right: 10px;
}

.single-portfolio img{
  width: 100%;
}
.portfolio-list .col-md-4{
  padding: 0;
}
.policy-icon a{
  background: #8B941A none repeat scroll 0% 0%;
  padding: 8px 0px;
  display: inline-block;
  color: #fff;
  font-size: 30px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 5px;
}
.team-img,.our-history{
  padding-top: 35px;
}
.team-info h3{
  margin-top: 10px;margin-bottom: 0;font-size: 20px;
}
p.team-title{
  color: #3e3f3f;
}
.history-tab-container{
  position: relative;
}
.history-title h3{
  font-size: 20px;
}
.history-tab-menu{
  background: #8b941a;
}
.history-tab-menu ul{
  padding: 15px 0;
}
.nav-tabs > li{
  margin-bottom: 10px;
  padding: 4px 0;
}
.nav-tabs > li.active > a{margin-bottom: 10px;padding-bottom: 15px;}
.nav-tabs > li.active > a{
  background: #8b941a;
  text-decoration: none;border-radius: none;border: none;color: #fff;
}
 .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover,.nav-tabs > li > a:hover{
  background: #8b941a;border: none;
}
.nav-tabs > li.active > a:after{
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
  border-bottom: 18px solid transparent;
  border-top: 18px solid transparent;
  border-left: 16px solid #8b941a;
}
.timeline-container{
  padding: 35px 0;
}
.timeline{
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline::before{
  content: "";
  position: absolute;
  top: 0;bottom: 0;width: 5px;background: #8B941A;left: 50%;margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline-circle::before,.timeline-circle-end::after{
  content: "";
  border: 1px solid #8B941A;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background: #8B941A none repeat scroll 0% 0%;
  position: absolute;
  margin-left: -6px;
  left: 50%;
}
.timeline-circle::before{
  top: -30px;
}
.timeline-circle-end::after{
  bottom: -43px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);text-align: right;
}

.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
margin-top: -60px;
}
.timeline > li:not(.timeline-inverted) {
padding-right:90px;
}
.timeline > li.timeline-inverted {
padding-left:90px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -32px;
  display: inline-block;
  content: " ";
  border: 1px solid rgb(139, 148, 26);
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: rgb(139, 148, 26) none repeat scroll 0% 0%;
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 42px;
  display: inline-block;
  content: " ";
  height: 5px;
  background: #8B941A none repeat scroll 0% 0%;
  width: 44px;
  right: -61px;
  -webkit-transform: rotate(43deg);
  -ms-transform: rotate(43deg);
  -o-transform: rotate(43deg);
  transform: rotate(43deg);
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  left: -30px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {

  left: -61px;
  -webkit-transform: rotate(-43deg);
  -ms-transform: rotate(-43deg);
  -o-transform: rotate(-43deg);
  transform: rotate(-43deg);
}
.timeline > li > .timeline-badge {
  color: #FFF;
  width: 100px;
  height: 5px;
  position: absolute;
  top: 44%;
  right: 50%;
  background-color: #8B941A;
}
.timeline > li.timeline-inverted > .timeline-badge{
  left: 50%;
}
.timeline-title{
  color: #8B941A;
}
.history-tab-container .tab-pane:not(.active){
  display: none;
}
.progress{
  position: relative;
}
.progress-bar{
  background-color: #8b941a;
}
.progress {
  height: 35px;
  
}

.progress .skill {
  font: normal 12px "Open Sans Web";
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}
h4{
  font-size: 16px;
}
.blog{
  background: #f7f7f7;
}
.blog-wrap{
  padding-top: 35px;color: #555555;
}
.date{
  font-size: 16px;color: #8b941a;
}
.date p{
  margin: 0;
}
.blog-title h3{
      margin-top: 10px;
    margin-bottom: 12px;
}
.blog-info{
  margin-bottom: 5px;
}
.blog-info ul li i{
  padding-right: 5px;
}
.fun-effect{
  text-align: center;position: relative;
}
.fun-factor-container{
  padding: 35px 0;
}
.fun-icon-wrapper{
  display: inline-block;
  background: #fff;
  width: 56px;
  height: 56px;
  border: 1px solid #8b941a;
  padding: 2px;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom: 10px;
}
.fun-icon{
  background: #8b941a;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  display: inline-block;
  
  padding: 7px;box-sizing: border-box;
  -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    text-transform: none;
}
.fun-icon a.fan-rec{
  font-size: 25px;
  color: #fff;
  display: block;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
p.number{
  margin-top: 15px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.price{
  background:#8b941a;color: #fff;border:none;position: relative;margin-top: 35px;
}
.price .panel-heading{
  
}
.lead{
  margin-bottom: 0;
}
h2{
  margin-top: 5px;
}
.price .price-circle{
   border-radius: 50%;background:#8b941a;
  border: 4px solid #FFF;
  display: inline-block;
  padding: 15px 25px;margin-top: -50px;
}
.price .price-circle h3{
  margin-bottom: 0
}
.list-group-item{
  background:#8b941a;border:none;
}
footer{
  padding: 50px 0;
  background: #232323;
  color: #8b941a;font-family: "Raleway";font-size: 14px;
}
.footer-content p{
  color: #ccc;
}
.footer-content a.read_more{
  color: #8b941a;
  display: block;
  margin-bottom: 30px;
}
.social-icon a {
  color: #fff;
  background: #8b941a none repeat scroll 0% 0%;
  padding: 4px 6px;
  border-radius: 50px;
}
ul.post-list li{
  font-size: 16px;font-weight: 400;
  border-bottom: 1px solid #555555;
  padding: 10px 0;color: #ccc;
}
ul.post-list li:first-child{
  padding-top: 0;
}
ul.post-list li:nth-last-of-type(1){
  border-bottom: none;
}
ul.list-contact li i{
  color: #8b941a;
  float: left;
  margin: 10px;
  font-size: 18px;
}
ul.list-contact li{
  font-size: 14px;font-family: "Raleway";font-weight: 400;color: #ccc;
}
.choose-img img{
  width: 100%;
}
.tag_list a{
  background: #8b941a;
  color: #fff;
  padding: 5px;
  display: inline-block;
  margin: 0 1px 5px 0;
  font-size: 10px;
  font-weight: 500;
}
input[type="text"]{
  border: 1px solid #8b941a;
  border-radius: 0;
  background: #232323;
}
.btn{
  background: #8B941A none repeat scroll 0% 0%;
  color: #FFF;
  border-radius: 0px;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 10px;
}

.social-btn ul{
  margin-top: 120px;
}
.social-btn ul li{

}
.social-btn ul li a{
  background: #8B941A;
  color: #fff;
  padding: 7px;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 50px;
  -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
}
.social-btn ul li a:hover{
  -webkit-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
}
.skill-area {
    background: #fafafa none repeat scroll 0 0;
    padding-bottom: 80px;
    padding-top: 120px;
}
.skill-area .section-heading { padding-bottom: 20px }
.section-heading {
    padding-bottom: 50px;
    text-align: center;
}
.section-heading h1 {
    color: #666;
    font-size: 42px;
    font-family: Roboto;
    line-height: 42px;
    margin-bottom: 25px;
}
.section-heading p {
    color: #666666;
    margin: 0;
}
.skill .progress .lead {
  color: #444;
  font-size: 12px;
  font-weight: 700;
  left: 0;
  position: absolute;
  top: -23px;
  z-index: 99;
  text-transform: uppercase;
}
.skill .progress {
  background-color: #f0f0f0;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
  height: 35px;
  margin-bottom: 40px;
  overflow: visible;
  position: relative;
}
.skill .progress-bar > span {
    background: #fff;
    float: right;
    font-size: 11px;
    margin-right: -15px;
    margin-top: -40px;
    position: relative;
    padding: 5px;
    color: #8B941A;
    border: 2px solid;
    border-radius: 50%;
}
.skill .progress-bar > span:before,
.skill .progress-bar > span:after {
    content: " ";
    height: 7px;
    position: absolute;
    top: 89%;
    width: 7px;
    border-radius: 5px;
}
.skill .progress-bar > span:before {
    left: 50%;
    margin-left: -4px;
    background: #8B941A;
}
.slick-center img{
      -webkit-transform: scale(1.3,1.3) ;
      -ms-transform: scale(1.3,1.3) ;
      -o-transform: scale(1.3,1.3) ;
      transform: scale(1.3,1.3) ;
    } 
    .slick-slide{
    }
    .slick-slide .comment-content{
      display: none;
    }
    .slick-center .comment-content{
      display: block;
      margin-bottom: 30px;
    }
    .testimony-list{
      padding: 25px 0;
    }
    .single-testimony{
      width: 160px;
    }
    .single-testimony img{
      padding: 15px 0;margin: 10px auto;
    }
    .comment-content{
      width: 200px;overflow: hidden;text-align: center;
    }
    .slick-slide
    {
    width: 160px;
    }
    h4.user{
      color: #8B941A;
      text-transform: uppercase;
    }
    .slick-arrow{
      bottom: 0;
      position: absolute;
      left: 52%;
      font-size: 25px;
      padding: 0 5px;
      color: #fff;
      border: 1px solid #8B941A;
      margin-right: 5px;
      width: 30px;cursor: pointer;
      height: 30px;
      text-align: center;background: #8B941A;
    }
    .slick-arrow.fa-angle-left{
      left: 45%;
    }
    .slick-arrow.fa-angle-right{

    }
    .slick-arrow.fa-angle-left:hover,
    .slick-arrow.fa-angle-left:focus,
    .slick-arrow.fa-angle-left:active,
    .slick-arrow.fa-angle-right:hover,
    .slick-arrow.fa-angle-right:focus
    {
        color: #8B941A;
        outline: none;
        background: #fff;
    }
a.scroll-top{
  position: absolute;
  right: 10%;
  background: #8B941A none repeat scroll 0% 0%;
  border-radius: 50px;
  color: #FFF;
  border: 2px solid #DDD;
  padding: 4px 8px;
  font-size: 20px;
  margin-top: -20px;
}
@media screen and (max-width: 767px) {
  .timeline > li > .timeline-badge {
    width: 80px;
    top: 39%;
  }
}